@import "../../../colors.scss";

.card {
    max-width: 30em;
    background-color: $bg-color-light;

    mat-card-header {
        background-color: $bg-color-dark;
    }

    div {
        display: flex;
        justify-content: center;
        
        img {
            margin: 1em;
            width: 10em;
        }
    }
}
  
mat-expansion-panel {
    background-color: rgba($bg-color-dark, 0.4);

    mat-expansion-panel-header {
        height: fit-content;
        font-weight: normal;
    }
}
