<mat-drawer-container>
    <mat-nav-list>
        <mat-list-item *ngFor="let book of books" routerLink="/bookshelf/{{ book.ISBN }}" (click)="drawer.toggle()">
            <img matListItemAvatar alt="cover" src={{book.cover_url}}>
            <div class="info">
                <p matListItemTitle> {{book.title}} </p>
                <p matListItemLine> {{book.author}} </p>
                <p class="counter">Readings: {{ book.readings_counter }}</p>
            </div>
        </mat-list-item>
    </mat-nav-list>
    <mat-drawer #drawer mode="over" position="end">
        <router-outlet/>
    </mat-drawer>
</mat-drawer-container>