@import "../../../colors.scss";

$img-radius: 10em;

mat-drawer-container {
    display: flex;
    justify-content: center;
    padding-block: 2em;
    padding-inline: 5em;
    background-color: transparent;
}
  
mat-nav-list {
    display: flex;
    flex-direction: column;
    mat-list-item {
        height: fit-content;
        padding-bottom: 1.5em;
        img {
            border: 5px solid $bg-color-dark;
            height: $img-radius;
            width: $img-radius;
        }
        .info {
            margin-top: 1em;
            .counter {
                margin-left: 0.4em;
                font-size: small;
                color: rgba(128, 128, 128, 0.774);
            }
        }
    }
}

mat-drawer {
    background-color: ($bg-color-light);
    position: fixed;
    margin-top: 10em;
    margin-bottom: 1em;
}