@import "../../../colors.scss";

$flex-gap: 3em;

#tool-bar {
    background-color: $bg-color-light;
    
    #search-bar {
        display: flex;
        justify-content: center;
        padding-top: 1.5em;
        background-color: rgba($bg-color-dark, 0.2);

        app-autocomplete-input {
            width: 40%;
        }
    }
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: $flex-gap;
    align-items: flex-start;
    padding: $flex-gap;
    margin-inline: 5em;

    app-bookcard {
        width: fit-content;
    }

    mat-toolbar {
        background-color: rgba($bg-color-dark, 0.5);
        border-radius: 0 0 10px 10px;

        .spacer {
            flex: 1 1 auto;
        }
    }
}

#footer {
    display: flex;
    justify-content: center;
    background-color: rgba($bg-color-dark, 0.1);
}