@import "../../../colors.scss";

$flex-gap: 3em;

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: $flex-gap;
    align-items: flex-start;
    padding: $flex-gap;

    app-bookcard {
        width: fit-content;
    }

    mat-toolbar {
        background-color: rgba($bg-color-dark, 0.5);
        border-radius: 0 0 10px 10px;

        .spacer {
            flex: 1 1 auto;
        }
    }
}

.hidden {
    display: none;
}