<form class="form">
    <mat-form-field class="full-width">
      <mat-label>Search</mat-label>
      <input #input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" (keypressdown.enter)="onSearch()">
      <button matSuffix mat-icon-button aria-label="Search" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" hideSingleSelectionIndicator="true">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onSearch()">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>
